.feed{
    flex:0.6;
    margin: 0 20px;
}
.feed_input_container{
background-color: white;
padding: 10px 0 10px 0;
margin-bottom: 20px;
border-radius: 10px;
top: 70px;
position: sticky;
z-index: 90;
}
.feed_input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px 0 15px 0;
    color: gray;
    margin: 15px;
}
.feed_input > form{
    display: flex;
    width: 100%;
}
.feed_input > form > input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline: 0;
    font-weight: 600;
}
.feed_input > form >button{
    display: none;
}
.feed_input_option{
    display: flex;
    justify-content: space-evenly;
}